<header class="header">
    <nav class="navbar">
        <ul class="navbar__list">
            <li><a class="<%= path === '/users'? 'active': '' %>" href="/">Users</a></li>
            <li><a class="<%= path === '/edit'? 'active': '' %>" href="/edit-user">Edit</a></li>
            <li><a class="<%= path === '/add-user'? 'active': '' %>" href="/add-user">Add User</a></li>
        </ul>
    </nav>
</header>